<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing with YOLOv8</title>
</head>
<body>
    <h1>обработка изображений с помощью YOLOv8 </h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <button type="submit">Начать обработку</button>
        <button type="submit">переход</button>
    </form>
</body>
</html>





